<section class="mainbar" data-ng-controller="timesheet as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div style="display: inline-block; min-height: 290px;">
                        <datepicker ng-model="vm.selectedDate" class="well well-sm"></datepicker>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Timesheet"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">Description</th>
                                        <th style="width: 15%;">Time From</th>
                                        <th style="width: 15%;">Time To</th>
                                        <th style="width: 20%;">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="t in vm.timesheet | orderBy: TimeStart" ng-include src="'app/timesheet/timerecord.html'">
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" ng-click="vm.newTimeRecord()">Add row</button>
                            <button class="btn btn-default" ng-click="vm.saveChanges()">Save</button>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
